code/linux/flutter/generated_plugin_registrant.cc
code/linux/flutter/generated_plugin_registrant.h
code/linux/flutter/generated_plugins.cmake
code/macos/Flutter/GeneratedPluginRegistrant.swift
code/pubspec.lock
code/pubspec.yaml
code/windows/flutter/generated_plugin_registrant.cc
code/windows/flutter/generated_plugin_registrant.h
code/windows/flutter/generated_plugins.cmake
